/************Reset**************/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, object, iframe, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header, footer, nav, section, article, hgroup, figure {
	display: block;
}
legend {
	display: none;
}
/************End Reset**************/

#helloworld {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-weight: lighter;
  font-size: 40px;
  margin: 10px;
}

/******Media Queries*******/

@media all and (min-width:40em) {

}

@media screen and (min-width: 68em) {

}

